.burger {
    display: none;
    &__line {
        @include box (22px, 2px, $white);
        margin: 5px 0;
    }
    &__menu {
        z-index: 11;
        position: relative;
        cursor: pointer
    }
    &__item {
        @include font(400, 12px, $white);
        cursor: pointer;
        display: none;
    }
    &__inner {
        display: block;
    }
    &__list {
        position: absolute;
        @include box(0vw, 100vh, $whiteBlack);
        transition: .2s;
        overflow: hidden;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 10;
        @include flex (flex, center, center)
    }
    &__nav {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__item {
        margin: 0 auto;
    }
    &.active .burger__list {
        width: 100vw;
    }
    &.active .burger__line:nth-child(2) {
        display: none;
    }
    &.active .burger__line:nth-child(3) {
        transform: rotate(45deg);
        position: absolute;
        top: -5px;
    }
    &.active .burger__line:nth-child(1  ) {
        transform: rotate(-45deg);
    }
}
@media screen and (max-width: 770px) {
    .burger {
        display: block;
    }
}
@media screen and (max-width: 550px) {
    .burger {
        &__item {
            display: block;
        }
    }
}
