.header {
    &__wrapper {
        @include flex (flex, space-between, center);
    }
    &__nav--wrapper {
        @include flex (flex, space-between, center);
        gap: 35px
    }
    &__descr {
        @include font (400, 12px, $white);
    }
    &__nav {
        @include flex (flex, space-between, center);
        gap: 35px;
    }
    &__item {
        @include font (400, 12px, $white);
        cursor: pointer;
    }
}
@media screen and (max-width:770px) {
    .header {
        &__descr {
            display: none;
        }
        &__inner {
            display: none;
        }
        &__logo {
            width: 90px;
        }
    }
}
@media screen and (max-width:550px) {
    .header {
        &__logo {
            width: 80px;
        }
        &__item {
            display: none;
        }
    }
}